# =========================
# CMake / CLion build files
# =========================
cmake-build-*/
build/

# =========================
# JetBrains IDE
# =========================
.idea/

# =========================
# Compiled files
# =========================
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# =========================
# macOS
# =========================
.DS_Store